
<h1><%=@game.title%></h1>
<p>
Dungeon Master: <%=@dm.name%>
</p>
<p>
Summery: <%=@game.summery%>
</p>
<p>
Lore: <%=@game.lore%>
</p>
<p>
Rules: <%= @game.rules%>
</p>
<h3>Write a Note</h3>
<%= render partial: "notes/form", locals:{notable: @game}%>
<%= render partial: "notes/notes", locals:{notable: @game}%>
<%=link_to "Edit", edit_game_path(@game)%> <br/>
<%=link_to "Remove Game", game_path(@game), method: :delete, 
                                          data: { confirm: "Are you sure you want to delete this article?" }, 
                                          class: "btn btn-xs btn-danger"%>                                
<%=link_to "Join Game"%> <br/>
<%=link_to "Back to All games", games_path%>
